.container {
    margin: 0 auto;
    margin-left: 20%;
}

.all_title {
    margin-top: 60px;
}

.h1_title {
    font-size: 2.8em;
    font-weight: bold;
    color: #252525;
    margin-bottom: 10px;
    margin-top: 60px;
    display: inline;
}

.button_save {
    background-color: #689BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
}


.input_1_1 input[type="text"] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 70%;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 10px;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 4px;
}

.input_1_2 input[type='text']:focus {
    border: 1px solid #da3c41;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(218, 60, 65, .5);
}

.input_title {
    position: relative;
    top: 28px;
    left: 10px;
    font-weight: bold;
    color: #252525;
}
