version: "3.7"
services:
  db:
    image: mariadb:latest
    ports:
      - "33063:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "app-db"
      MYSQL_USER: "docker"
      MYSQL_PASSWORD: "docker"
    restart: always
